/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.phpstorm.meta.php
/,.php
/_ide_helper.php
/composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache